<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="/home" style="color: white; padding-left: 10px ;">ATM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employee">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/customer">Customer</a>
        </li>
        
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="color: white;">Search</button>
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link " href="/bank">Banks </a>
        </li>
        
      </ul>


      <button class="authentication">Login</button>
      <button class="authentication1">Sign Up</button>

      <footer>
        
      </footer>
        
    </div>
  </nav>
