
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
     <a class="navbar-brand d-flex align-items-center" href="/home" style="padding-left: 10px;">
    <div class="logo-icon text-white bg-primary rounded px-2 py-1 mr-2 font-weight-bold">ATM</div>
    <span class="font-weight-bold text-dark "> ATM Simulation Machine</span>
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/card">Manage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
       </ul>

      <div class="d-flex align-items-center">
      <a href="/login" class="btn btn-outline-primary  btn-sm  ">Login</a>
      <a href="/signup" class="btn btn-outline-success btn-sm">Sign Up</a>
    </div>



    </div>
  </div>
</nav>