<div class="main-container">
  <div class="heading">
    <h1 class="heading__title">Admin Dashboard</h1>
    <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Welcome, System Admin</a></p>
  </div>
  <div class="cards">
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-2">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-3">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Ut enim ad minim veniam.</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-4">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Quis nostrud exercitation ullamco laboris nisi.</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-5">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Ut aliquip ex ea commodo consequat. Duis aute irure dolor.</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
  </div>
</div>






        <div class="box-container">
            <div class="box-item">
            <div class="flip-box">
              <div class="flip-box-front text-center" style="background-image: url('https://www.jdpower.com/sites/default/files/styles/small_hq/public/image/2023-03/23-JDP-B2Bsite_CSA-Step2.png?itok=XEci0Kg0');">
                <div class="inner color-white">
                  <h3 class="flip-box-header">CUSTOMER</h3>
                  <!-- <p>Here you can Add customer</p> -->
                  <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                </div>
              </div>
              <div class="flip-box-back text-center" style="background-image: url('https://www.jdpower.com/sites/default/files/styles/small_hq/public/image/2023-03/23-JDP-B2Bsite_CSA-Step2.png?itok=XEci0Kg0');">
                <div class="inner color-white">
                  <h3 class="flip-box-header">List of Customer</h3>
                  <a href="/customer" class="flip-box-button " >Customers</a>
                </div>
              </div>
            </div>
            </div>
           
            <div class="box-item">
            <div class="flip-box">
              <div class="flip-box-front text-center filter-" style="background-image: url('https://s25.postimg.cc/l2q9ujy4f/cta-4.png');">
                <div class="inner color-white">
                  <h3 class="flip-box-header">Bank</h3>
                  <!-- <p>A short sentence describing this callout is.</p> -->
                  <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                </div>
              </div>
              <div class="flip-box-back text-center" style="background-image: url('https://s25.postimg.cc/l2q9ujy4f/cta-4.png');">
                <div class="inner color-white">
                  <h3 class="flip-box-header">List of Banks</h3>
                  <!-- <p>A short sentence describing this callout is.</p> -->
                  <a href="/bank" class="flip-box-button " >Banks</a>
                </div>
              </div>
            </div>
            </div>


             <div class="box-item">
            <div class="flip-box">
              <div class="flip-box-front text-center" style="background-image: url('https://eu-images.contentstack.com/v3/assets/blt69509c9116440be8/bltcd31494d611b5b8b/664f6f9883a4ca9bb6ecd8dd/employeemonitoring_AlekseiGorodenkov-AlamyStockPhoto.jpg?width=1280&auto=webp&quality=80&format=jpg&disable=upscale');">
                <div class="inner color-white">
                  <h3 class="flip-box-header">Employees</h3>
                  <!-- <p>A short sentence describing this callout is.</p> -->
                  <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
                </div>
              </div>
              <div class="flip-box-back text-center" style="background-image: url('https://eu-images.contentstack.com/v3/assets/blt69509c9116440be8/bltcd31494d611b5b8b/664f6f9883a4ca9bb6ecd8dd/employeemonitoring_AlekseiGorodenkov-AlamyStockPhoto.jpg?width=1280&auto=webp&quality=80&format=jpg&disable=upscale');">
                <div class="inner color-white">
                  <h3 class="flip-box-header">List of Employees</h3>
                  <!-- <p>A short sentence describing this callout is.</p> -->
                  <a href="/employee" class="flip-box-button " >Employees</a>

                  <!-- <button  class="flip-box-button " >Employees</button> -->
                </div>
              </div>
            </div>
            </div>
        </div>