<div class="container" >
    <div class="row">
        <div>
            <h1 class="content">WELCOME TO ATM SIMULATION SYSTEM </h1>
            <h4 class="discription"> - Your Trusted ATM Partner</h4>
            <h4 class="discription1"> Reliable, Secure, and Convenient ATM Solutions</h4>
        </div>
        <div class="image">
            <img src="https://media.istockphoto.com/id/697417092/photo/hand-inserting-atm-credit-card.jpg?s=612x612&w=0&k=20&c=qRIJSzJ2dsLQI3js62LHLP3ESrbKrndsUTxdCDKp4qY=" alt="ATM" width="300px" height="300px" style="float: right;">
        </div>
    </div>
</div>