.container
{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0,5)50%);
    background-color:  rgba(142, 113, 189, 0.452);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 120vh;
    max-width:1800px;

    }

    .content{
        padding-top: 230px;
        padding-left: 150px;
    }
   .discription{
    padding-left: 580px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .discription1
   {
    padding-left: 250px;
    text-decoration:overline;
    font-family: 'Courier New', Courier, monospace;
   }

   .image{
    position: relative;
    bottom: 130px;

   }
